asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
dj-database-url==2.3.0
Django==5.2
django-cors-headers==3.14.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dotenv==0.9.9
drf-yasg==1.21.11
gunicorn==23.0.0
h11==0.16.0
idna==3.10
inflection==0.5.1
packaging==25.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dotenv==1.1.0
python-http-client==3.3.7
pytz==2025.2
PyYAML==6.0.3
requests==2.32.3
resend==2.10.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.4.0
uvicorn==0.34.2
whitenoise==6.9.0
twilio==9.4.0
